.main {
    height: 370px;
    background: #fff;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
.calendar img{
    max-width: 100px;
    max-height: 100px;
}
.date {
   height: 750px;
}
.container-fluid { max-width: 700px }
img {
    max-width: 100%;
    max-height: 100%;
}
table {
    text-align: center;
}
.timer-list {
            border: 2px solid #f8f8f8;
            border-radius: 5px;
            overflow-x: hidden;
            max-height: 240px;
            height: 400px;}
.rank-des-ul {
    padding: 5px;
    list-style:none inside;}
.rank-des-li {
    border: 2px solid #f8f8f8;
    border-radius: 5px;
}
.main-2 {
    position: absolute;
    bottom: 5px;
}
.main-1 {
    position: relative;
}
.study-sum {
position: absolute;
    bottom: -100px;
}
.rank-des-li {
    padding: 5px;
    list-style:none;
}

.todo {
       height: 350px;
       position: relative;
       background: #fff;
       border: 1px solid #EDEDED;
       border-radius: 10px;
       padding: 5px;
       .todo-list {
            border: 2px solid #f8f8f8;
            border-radius: 5px;
            overflow: auto;
            max-height: 200px;
            height: 200px;
       }
}

#controls button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #5A5A5A;
    color: white;
    border: none;
}