@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}


button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}


.nav {
    margin-left:10px;
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav .current-date {
    font-size: 24px;
    font-weight: 600;
}
.icons {
    cursor: pointer;
}


.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    padding-left : 0px;
}
.calendar .weeks li {
    font-weight: 500;
}
.calendar .days {
    margin-bottom: 0px;
}
.calendar ul li {

    width: calc(100% / 7);

    position: relative;
}
.calendar .days li {

    z-index: 1;
    margin-top: 5%;
    cursor: pointer;
}


.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}
.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.days li:hover::before {
    background: #f2f2f2;
}
.days li.active::before {
    background: #74b0c7;
}

.bring-date {
    font-weight : 600;
    margin-bottom : 10px;
    font-size : 24px;
}