{{>layouts/header}}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="joingroup">
                        <h1>참여중인 그룹</h1>
                        <div class="joingroup-list">
                            <ul class="rank-des-ul">
                                {{groupId}}
                                {{groupName}}
                                {{groupIntro}}
                            </ul>
                        </div>
                        <button class="btn btn-primary d-grid gap-2"  style="width: 95%;" type="button">+</button>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class=mygroup>
                        <h1>참여중인 멤버</h1>
                        <div class="mygroup-list">
                            <ol class="rank-des-ul">
                                {{#groupMemberName}}
                                    <li class="list-group-item">
                                        {{.}}
                                    </li>
                                {{/groupMemberName}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rank">
                <h1>오늘 공부 순위🔥</h1>
                <div class="rank-list">
                    <ol class="rank-des-ul">
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/group.css">

{{>layouts/footer}}