{{>layouts/header}}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="joingroup">
                        <h1>참여중인 그룹</h1>
                        <table style="text-align: center;">
                            <tr>
                                <td><img class=calendar-img src="/img/img_1.png" alt="이미지" style="width:200px; height: 200px"></td>
                            </tr>
                            <tr><td style="font-size: 25px">{{groupName}}</td></tr>
                            <tr><td>{{groupIntro}}</td></tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class=mygroup>
                        <h1>참여중인 멤버</h1>
                        <div class="mygroup-list">
                            <ol class="rank-des-ul">
                                {{#groupMemberName}}
                                    <li class="list-group-item">
                                        {{.}}
                                    </li>
                                {{/groupMemberName}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rank">
                <h1>오늘 공부 순위🔥</h1>
                "타이머 연계 부분"
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/group.css">
{{>layouts/footer}}