{{>layouts/header}}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="joingroup">
                        <h2>참여중인 그룹</h2>
                        <div class="joingroup-list">
                            <ul class="rank-des-ul">
                                {{#userGroups}}
                                    <li class="rank-des-li">
                                        <div class="row">
                                            <div class="imgList col-3"></div>
                                            <div class="col-9 ml-4">
                                                <div class="col-12 mt-2">
                                                    <span><b>{{groupName}}</b></span>
                                                </div>
                                                <div class="col-12 mt-2" style="font-size: 13px">
                                                    <span>{{groupIntro}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {{/userGroups}}
                            </ul>
                        </div>
<!--                        <button class="btn btn-primary d-grid gap-2" style="border-color: #64C466; background-color: #64C466; color: white; width: 95%;" type="button">+</button>-->
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class=mygroup>
                        <h2>내가 만든 그룹</h2>
                        <div class="mygroup-list">
                            <ul class="rank-des-ul">
                                {{#myGroups}}
                                    <li class="rank-des-li">
                                        <div class="row">
                                            <div class="imgList col-3"></div>
                                            <div class="col-9 ml-4">
                                                <div class="col-12 mt-2">
                                                    <span><b>{{groupName}}</b></span>
                                                </div>
                                                <div class="col-12 mt-2" style="font-size: 13px">
                                                    <span>{{groupIntro}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {{/myGroups}}
                            </ul>
                        </div>
                        <a href="/newgroup" class="btn btn-primary d-grid gap-2" style="border-color: #64C466; background-color: #64C466; color: white; width: 95%;" role="button">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rank">
                <h2>전체 그룹 목록🔥</h2>
                <div class="rank-list">
                    <ol class="rank-des-ul">
                        {{#groupListData}}
                            <li class="rank-des-li">
                                    {{#groupData}}
                                    <a href="/group/{{groupId}}" style="text-decoration: none; color: inherit;">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="imgList col-3"></div>
                                            <div class="col-8">
                                                <div class="col-12">
                                                    <span><b>{{groupName}}</b></span>
                                                </div>
                                                <div class="col-12">
                                                    <span style="font-size: 13px">{{groupIntro}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    {{/groupData}}
                            </li>
                        {{/groupListData}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/app/img.js"></script>
<link rel="stylesheet" href="/css/group.css">
{{>layouts/footer}}