{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">member_id</th>
        <th scope="col">member_pw</th>
        <th scope="col">member_name</th>
        <th scope="col">삭제</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td>{{memberId}}</td>
            <td>{{memberPw}}</td>
            <td>{{memberName}}</td>
            <td><a href="/member/delete/{{id}}">삭제</a></td>
        </tr>
    {{/memberList}}
    </tbody>
</table>

{{>layouts/footer}}