{{>layouts/header}}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row" style="background-color:white">
                <div class="col-md-12">
                    <form class="mt-4 mb-4" action="/group/{{groupId}}" method="POST" style="background-color:white; text-align: center;">
                        <div class="mb-3"><img class="calendar-img" src="/img/img_1.png" alt="이미지" style="width:200px; height: 200px"></div>
                        <div class="mb-3" style="font-size:28px">{{groupName}}</div>
                        <div class="mb-3">{{groupIntro}}</div>
                        <div class="mb-3">2/65</div>
                        <div class="mb-3">
                            <label class="form-label">비밀번호</label>
                            <input type="password" class="form-control" name="groupPassword" required>
                            <div class="form-text">비밀번호를 입력해주세요.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">입장하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{#error}}
    <script>
        alert({{error}});
    </script>
{{/error}}

{{>layouts/footer}}